fail_fast: false
repos:
  - repo: local
    hooks:
      - id: uv-export
        name: UV Export
        description: "Runs uv export to update the requirements.txt file"
        entry: make freeze
        language: system
        pass_filenames: false
        always_run: true
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: "trailing-whitespace"
      - id: "check-case-conflict"
      - id: "check-merge-conflict"
      - id: "debug-statements"
      - id: "end-of-file-fixer"
      - id: "mixed-line-ending"
        args: [ "--fix", "crlf" ]
        types:
          - python
          - yaml
          - toml
          - text
      - id: "detect-private-key"
      - id: "check-yaml"
      - id: "check-toml"
      - id: "check-json"

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.4
    hooks:
      - id: ruff
        args: [ "--fix" ]
        files: "app"

      - id: ruff-format
        files: "app"

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: isort (python)
        files: "app"
